@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rubik+Bubbles&family=Rubik+Vinyl&display=swap'); 

.img {
    width: 50rem;
    opacity: .6;
}

.text {
    color: #E0DAAE;
    font-family: 'Nerko One', cursive;
}