.header {
    width: 100vw;
    background-color: #FCCC3A;
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.75);
}

button {
    border: none;
    background-color: transparent;
}

.caption {
    font-family: 'Nerko One', cursive;
    font-size: 4rem;
}