.footer {
    width: 100vw;
    // height: 10vh;
    box-shadow: 1px -5px 7px 1px rgba(0,0,0,0.75);
    background-color: #FCCC3A;
}

.caption {
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
}